alloy:
  controller:
    # -- Type of controller to use for deploying Grafana Alloy in the cluster.
    # Must be one of 'daemonset', 'deployment', or 'statefulset'.
    type: 'statefulset'
  alloy:
    clustering:
      enabled: false
    configMap:
      content: |-
        logging {
          level  = "info"
          format = "logfmt"
        }

        // ==========================================================
        // 4. REMOTE WRITE SECTION
        // ==========================================================

        prometheus.remote_write "mimir_receiver" {
          endpoint {
            url = "http://mimir-gateway.observability.svc.cluster.local/api/v1/push"
            send_native_histograms = true
          }
        }