alloy:
  controller:
    # -- Type of controller to use for deploying Grafana Alloy in the cluster.
    # Must be one of 'daemonset', 'deployment', or 'statefulset'.
    type: 'statefulset'
    rbac:
      create: true # This allows Alloy to read ServiceMonitors
  alloy:
    clustering:
      enabled: false
    configMap:
      content: |-
        logging {
          level  = "info"
          format = "logfmt"
        }
        
        // Add ruler integration
        mimir.rules.kubernetes "local" {
          address = "http://mimir-gateway.feri-devops-machine.deploy-at.my.id/prometheus/config/v1/rules"
          tenant_id = "CompanyA-Cluster1-Jakarta"
        }

        // 1. Discover and scrape all ServiceMonitors (Node Exporter, KSM, etc.)
        prometheus.operator.servicemonitors "kube_stack" {
          forward_to = [prometheus.remote_write.mimir.receiver]
        }

        // 2. Discover and scrape all PodMonitors (if you have any)
        prometheus.operator.podmonitors "kube_stack" {
          forward_to = [prometheus.remote_write.mimir.receiver]
        }

        // 3. Define the Remote Write destination (Mimir)
        prometheus.remote_write "mimir" {
          endpoint {
            // This points to the Mimir Gateway service
            url = "http://mimir-gateway.feri-devops-machine.deploy-at.my.id/api/v1/push"

            // If your Mimir has multi-tenancy enabled (default in some charts), 
            // you MUST provide a Tenant ID header.
            headers = {
              "X-Scope-OrgID" = "CompanyA-Cluster1-Jakarta", 
            }
            
            // If you set up Basic Auth for Mimir, add this:
            /*
            basic_auth {
              username = "your-user"
              password = "your-password"
            }
            */
          }

          // Optional: Global labels added to EVERY metric
          external_labels = {
            "cluster" = "cloud-b-cluster-1-jakarta",
          }
        }